<div class="row">
	<div id="logo" class="twelve columns">
		<h2 class="doomker">Doomkër</h2>
		<p class="slogan"><%=t :slogan %></p>
		<hr />
	</div>
</div>
<div class="row">
	<div class="seven columns">
		<h3><%=t :who %></h3>
		<!-- Grid Example -->
		<div class="row">
			<div class="twelve columns">
				<div class="panel">
					<p>
						<%=t :who_text_html %>			
					</p> 
				</div>
			</div>
		</div>
		
		<h3><%=t :what %></h3>
		<dl class="tabs">
			<dd>
				<a href="#webs" class="active"><%=t :webs %></a>
			</dd>
			<dd>
				<a href="#sistemas-web"><%=t :web_systems %></a>
			</dd>
			<dd>
				<a href="#sistemas-escritorio"><%=t :desktop_systems %></a>
			</dd>
		</dl>
		<ul class="tabs-content">
			<li class="active" id="websTab">
				<%= render 'link/list'%>
			</li>
			<li id="sistemas-webTab">
				<ul class="pretty">
					<li>
						<a href="http://www.palermotenis.com.ar">Palermo Tenis</a>
					</li>	
				</ul>				
			</li>
			<li id="sistemas-escritorioTab">
				<ul class="pretty">
					<li>						
						<a href="http://www.metalurgicacortes.com">
							<img src="/images/metcortes.jpg" alt="Metalurgica_Cortes" />
						</a>
					</li>	
				</ul>								
			</li>
		</ul>
	</div>
	<div class="five columns">
		<h4><%=t 'partners.title' %></h4>
		<div class="panel">
			<p>
				<%=t 'partners.text_html' %>
			</p>
		</div>
		<h4><%=t 'contact.title' %></h4>
		<p>
			<%=t 'contact.text_html' %>
		</p>
		<ul class="disc">
			<li>
				<a href="mailto:pablo.santiago@gmail.com"><%=t 'contact.email' %></a>
				<br />
				pablo.santiago@gmail.com				
			</li>
			<li>
				<a href="#"><%=t 'contact.phone' %></a>
				<br />
				+54 11 5274 6537
			</li>			
		</ul>
	</div>
</div>